<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadatas>
        <name>Ubuntu Orange</name>
        <creationDate>08/01/2016</creationDate>
        <author>Louis-Sébastien Gac Artigas</author>
        <authorEmail>louis.gac@limesurvey.org</authorEmail>
        <authorUrl>http://www.limesurvey.org</authorUrl>
        <copyright>Copyright (C) 2005 - 2016 LimeSurvey Gmbh, Inc. All rights reserved.</copyright>
        <license>GNU General Public License version 2 or later</license>
        <version>1.0</version>
        <description>LimeSurvey Template.</description>
        <last_update>2016-05-13 10:46:00</last_update>
    </metadatas>

    <!--
        Here the list of the css/js files to load.
        Any file here will be loaded via the asset manager
    -->
    <files>
        <css>
            <filename>dist/styles/limestrap.css</filename>
        </css>
        <js>
            <filename>dist/scripts/limestrap.js</filename>
        </js>

        <!-- The logo is used for now only for Surveys List  -->
        <logo>
            <filename>files/logo.png</filename>
        </logo>
    </files>

    <!-- For template editor -->
    <files_editable>
        <css>
            <filename>css/limestrap.css</filename>
        </css>
        <js>
            <filename>scripts/limestrap.js</filename>
        </js>
    </files_editable>

    <engine>
        <!-- <cssframework>bootstrap</cssframework> -->
        <pstpldirectory>views</pstpldirectory>

        <!--
            Set to yes to overwrite the question views,
            then, just copy application/views/survey/* to template/{your_view_directory}/survey/
            You also must allow the template to overwrite the views from your site configuration
            In application/config/config.php, find :     'config'=>array
            and add this line in it : 'allow_templates_to_overwrite_views'=>1
        -->
        <overwrite_question_views>false</overwrite_question_views>
    </engine>
</config>
