.radio label::before {
    width: 20px;
    height: 20px;
}
.radio label::after {
    width: 14px;
    height: 14px;
}
.checkbox label::before {
    width: 20px;
    height: 20px;
}
.checkbox label::after {
  width: 20px;
  height: 20px;
  font-size: 15px;
  line-height: 18px;
  padding-left: 0px;
}
