@import url('https://fonts.googleapis.com/css?family=Calibri:400,700,400italic,700italic');


body {
    min-height: 75rem;
    padding-top: 58px;
}

html body {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

$primary:       #e98300;
$brand-primary: $primary;
$secondary:     #331c54;
$success: $primary;
$brand-secondary: $secondary;


.checkbox input[type=checkbox]:checked+label::before, .checkbox input[type=radio]:checked+label::before {
    background-color: $brand-primary;
    border-color: $brand-primary;
}

.checkbox input[type=checkbox]:checked+label::after, .checkbox input[type=radio]:checked+label::after {
    color: #fff;
}

.radio input[type=radio]:checked+label::before {
    border-color: $brand-primary;
}

.radio input[type=radio]:checked+label::after {
    background-color: $brand-primary;
}

.text-danger.asterisk {
    color: $brand-primary !important;
}


body .bg-light {
    border-bottom: 3px solid $brand-primary;
    background: white !important;
    padding: 0;
    margin: 0;

    .navbar-brand {
        &:before {
          content: " ";
          width: 187px;
          height: 65px;
          transition-property: all;
          transition-duration: 0.5s;

          background-image: url("../images/logo.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          float: left;
          margin-right: 1em;
        }
        line-height: 65px;
        transition-property: all;
        transition-duration: 0.5s;
        float: left;
        color: black;
        font-weight: bold;
    }
    a, a:hover, a:active {
      color: black;
      text-decoration: underline;
    }
    .row {
      padding-top: 65px !important;
    }
}

body.scrolled .bg-light {
  .navbar-brand {
      &:before {
        height: 32px;
      }
      line-height: 32px;
  }
}



#navigator-container .btn {
  border-radius: 17.25px !important;
  font-family: $font-family-sans-serif !important;
  font-size: 14px !important;

  &-lg {
    border-radius: 5px !important;
  }

  &-sm {
    border-radius: 5px !important;
    font-size: 11px !important;
  }

  &-secondary,
  &-secondary:hover,
  &-warning,
  &-warning:hover {
    color: $white !important;
  }
}


.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: black !important;
    background-color: $brand-primary !important;
}
.progress-bar {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

.progress-bar {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
}

#topContainer {
  background: transparent;
}

.question-title-container {
    margin-bottom: 1em;
}

.questionhelp {
    margin-bottom: 1em;
}


.navbar {
  text-transform: uppercase;
  a {
    text-decoration: none !important;
    color: #808080 !important;
    &:hover {
      color: #333333 !important;
    }
  }
}


.navbar-nav li {
  margin: 0 1em;
}


body .btn-primary {
  @include button-variant($btn-primary-color, $brand-primary, $brand-primary);
}
body .btn-secondary {
  @include button-variant($btn-secondary-color, $brand-secondary, $brand-secondary);
}
body .btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
body .btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
body .btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
body .btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}
