@import url('https://fonts.googleapis.com/css?family=Calibri:400,700,400italic,700italic');


body {
    min-height: 75rem;
    padding-top: 100px;
}

html body {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

$primary:       #e98300;
$brand-primary: $primary;
$secondary:     #331c54;
$success: $primary;
$brand-secondary: $secondary;


.checkbox input[type=checkbox]:checked+label::before, .checkbox input[type=radio]:checked+label::before {
    background-color: $brand-primary;
    border-color: $brand-primary;
}

.checkbox input[type=checkbox]:checked+label::after, .checkbox input[type=radio]:checked+label::after {
    color: #fff;
}

.radio input[type=radio]:checked+label::before {
    border-color: $brand-primary;
}

.radio input[type=radio]:checked+label::after {
    background-color: $brand-primary;
}

.text-danger.asterisk {
    color: $brand-primary !important;
}


body .bg-light {
    border-bottom: 3px solid $brand-primary;
    background: white !important;
    padding: 0;
    margin: 0;

    .navbar-brand {
        color: #333!important;
        &:before {
          content: " ";
          width: 187px;
          height: 65px;
          transition-property: all;
          transition-duration: 0.5s;

          background-image: url("../images/logo.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          float: left;
          margin-right: 1em;
        }
        line-height: 65px;
        transition-property: all;
        transition-duration: 0.5s;
        float: left;
        color: black;
        font-weight: bold;
    }
    a, a:hover, a:active {
      color: black;
      text-decoration: underline;
    }
    .row {
      padding-top: 65px !important;
    }
}

body.scrolled .bg-light {
  .navbar-brand {
      &:before {
        height: 32px;
      }
      line-height: 32px;
  }
}



#navigator-container .btn {
  border-radius: 17.25px !important;
  font-family: $font-family-sans-serif !important;
  font-size: 14px !important;

  &-lg {
    border-radius: 5px !important;
  }

  &-sm {
    border-radius: 5px !important;
    font-size: 11px !important;
  }

  &-secondary,
  &-secondary:hover,
  &-warning,
  &-warning:hover {
    color: $white !important;
  }
}


.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: black !important;
    background-color: $brand-primary !important;
}
.progress-bar {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

.progress-bar {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
}

#topContainer {
  background: transparent;
}

.question-title-container {
    margin-bottom: 1em;
}

.questionhelp {
    margin-bottom: 1em;
}


.navbar {
  text-transform: uppercase;
  a {
    text-decoration: none !important;
    color: #808080 !important;
    &:hover {
      color: #333333 !important;
    }
  }
}


.navbar-nav li {
  margin: 0 1em;
}


body .btn-primary, body .btn {
  @include button-variant($btn-primary-color, $brand-primary, $brand-primary);

    &:not([disabled]):not(.disabled):active,
    &:not([disabled]):not(.disabled).active,
    .show > &.dropdown-toggle {
        @include button-variant($btn-primary-color, $brand-primary, $brand-primary);
    }
}
body .btn-secondary {
  @include button-variant($btn-secondary-color, $brand-secondary, $brand-secondary);
}
body .btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
body .btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
body .btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
body .btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}


.qnumcode.question-text {
    font-weight: bold;
}
.qnumcode.question-text:before {
    content: " ";
    border-top: 1px solid $brand-primary;
    clear: both;
    width: 100%;
    float: left;
    margin: 5em 0 1em;
}

#surveydescription, .group-name {
    color: $brand-primary;
}

body .text-info {
    color: $brand-secondary !important;
}


.dragDropTable {
  .SortableTitle {
    text-align: center;
  }
  .columns2 {
    // border: 1px solid #333333;
  }

  ul.dragDropChoiceList li,
  ol.dragDropRankList li {
    background-color: #dadada;
    border-radius: 5px;
  }
}



.slider.slider-horizontal {
    width: 100% !important;

    /* The reset button will be under the slider, so allow some margin */
    margin-bottom: 1em !important;
}

/* When slider has both show-min-max and reset button, add space between
 * left badge and reset button */
.slider-min-badge {
    margin-right: 1em !important;
}

.slider-left-span {
    text-align: right !important;
}

.slider-right-span {
    text-align: left !important;
}

.slider-container_holder {
    width: 100%;
}
.slider-container {
    margin-top: 3.5em !important;
    margin-bottom: 2.5em !important;
}


.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}



.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
